<%- include('./partials/head.ejs') %>
<H1>Access denied</H1>

<div id="divAlert1" style="color: brown;" class="alert alert-danger">
    <p><%=message%></p>
</div>

<div class="links">
    <a href="/dashboard">Dashboard</a>
  </div>