<%- include('./partials/head.ejs') %>
<link href="/css/flashalert.css" rel="stylesheet">

<h1>RESET PASSWORD</h1>
<form action="/resetpwd" method="post">
    <input type="text" id="username" name="username" placeholder="Username" value="" autofocus>
    <button type="submit">Reset</button>
</form>